<section class="app-page p-game-form">

	<form id="game-add-form">

	<p>
		<label for="label">Personal Label</label> <input type="text" name="label" />
	</p>
	
	<p>
		<label for="game">Game (Engine)</label> 
	
		<div class="engine-div" style="display:none">
			<input type="text" name="engine" class="engine-input" value="" disabled /> <a class="engine-return">Reselect</a>
		</div>
		
		<div class="engine-checkboxes">
			<label for="doom">DooM</label> <input type="radio" class="engine" value="Doom" />
			<!--label for="idtech1">iDTech1</label> <input type="radio" class="engine" value="iDTech1" /-->
			<label for="idtech2">iDTech2</label> <input type="radio" class="engine" value="iDTech2" />
			<label for="idtech3">iDTech3</label> <input type="radio" class="engine" value="iDTech3" />
			<label for="idtech4">iDTech4</label> <input type="radio" class="engine" value="iDTech4" />
			<label for="unreal">Unreal</label> <input type="radio" class="engine" value="Unreal" />
			<label for="unreal2">Unreal2</label> <input type="radio" class="engine" value="Unreal2" />
			<label fpr="unreal3">Unreal3</label> <input type="radio" class="engine" value="Unreal3" />
			<label for="build">Build</label> <input type="radio" class="engine" value="Build" />
		</div>

		<label>Main Exe Path</label> <input type="text" name="exe" value="" class="exe-path" />

		<ul class="game-form-listings"></ul>

		<div class="confirmation"></div>

	</form>

</section>