<section class="app-page p-launcher">

	<a class="batch" style="float:right" data-page="game-form">&#xF01D;</a>

	<div id="section-data" data-type="gamelist" data-tar="installed-games"></div>

</section>