<section class="app-page p-startup">
	Welcome! It appears this is your first time running aslkdfjaskldf

	<p>
		This application aims to provide you with a quick and easy way to get right into your favorite games immediately. poop provides out of the box support for the following engines: DooM, Quake(idTech) 1 to 4, Unreal 1 to 2, and Build. You may additionally enter any exe with some parameters if you really want to use this as a full fledged game launcher. 
	</p>

	<p>
		<a data-page="launcher">Go To Launcher</a>
	</p>

</section>