@font-face{
  font-family:Batch;
  src:url('batch.eot');
  src:url('batch.eot?#iefix') format('embedded-opentype'),
    url('batch.woff') format('woff'),
    url('batch.ttf') format('truetype'),
    url('batch.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:Cocogoose;
  src:url('cocogoose.eot');
  src:url('cocogoose.eot?#iefix') format('embedded-opentype'),
    url('cocogoose.woff') format('woff'),
    url('cocogoose.ttf') format('truetype'),
    url('cocogoose.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:Roboto;
  src:url('roboto.eot');
  src:url('roboto.eot?#iefix') format('embedded-opentype'),
    url('roboto.woff') format('woff'),
    url('roboto.ttf') format('truetype'),
    url('roboto.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}
.batch {
  font-family:"Batch";
  font-size:16px;
  line-height:1;
  display:inline-block;
  font-weight: normal;
}
