@import url(fonts/fontrules.css);

/**
-- general.Resets
**/
body{ background: #d7d7d7; }
html,body, div,section,p,blockquote,code, h1,h2,h3,h4,h5,h6, ul,ol { margin: 0; padding: 0; }
html,body, #start-up,#vinticuffs,#launcher,#configuration {  color: #171717; font-family: 'Roboto'; font-weight: normal; }
#start-up,#vinticuffs,#launcher,#configuration { display: none; background: #d7d7d7; }

a { text-decoration: none; cursor: pointer; } a:hover { text-decoration: underline; }

.batch a { color: #CCC; cursor: pointer; }
.batch a:hover { text-decoration: none; color: #171717 !important; }
.batch .toggle { color: #171717; }

/**
-- general.UI Assets
**/
.drag-bar { width: 100%; height: 21px; position: absolute; }
.window-controls { display: inline-block; position: absolute; background: transparent; right: 5px; top: 5px;  }
.window-resize { position: absolute; width: 8px; height: 8px; }
div.top-l { top: 0; left: 0;  } div.top-r { top: 0; right: 0; }
div.bot-l { bottom: 0; left: 0; } div.bot-r { bottom: 0; right: 0; }

.header { background: #d7d7d7; display: block; padding-bottom: 5px; border-bottom: 1px solid #CCC; }
.header h1.logo { font-family: 'Cocogoose'; padding: 16px 23.5px; background: #171717; color: #FFF; display: inline-block; }
.header div.controls { display: inline-block; position: absolute; left: 100px; top: 25px; }
.header h1.launcher-go, .header h1.settings-go { font-size: 32px; padding: 0px 15px; border-left: 1px solid #ccc; }
.header h1.launcher-go a, .header h1.settings-go a {  }

.app-page {  }
section.app-page { padding: 10px; }
section.app-page h5.sub-title { font-family: 'Cocogoose'; font-weight:normal; font-size:14px; text-transform: uppercase; background: #088ba6; color: #FFF; padding: 5px; margin-top: 5px; }

ul .game-listings { list-style-type: none; }


.lf { background: url(../img/ui/loading.gif) no-repeat center center; width: 24px; height: 24px; display: block; margin: 0 auto; }
